<!DOCTYPE html>
<html layout:decorator="layout" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout ="http://www.ultraq.net.nz/tymeleaf/layout">
	<div id="contenido" class="col-8" layout:fragment="contenido">
			
			<h1 class="my-4">
				Carga Exitosa           
          	</h1>

          <!-- Blog Post -->
          <div class="card mb-4" >
           
            <div class="card-body">
              <a href="admin">volver</a>
            </div>
            
          </div>
       
	</div>
</html>