<!DOCTYPE html>
<html layout:decorator="layout" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout ="http://www.ultraq.net.nz/tymeleaf/layout">
	<div id="contenido" class="col-8" layout:fragment="contenido">
		<!-- Page Content -->
   
	   	<div class="container">
	   		 <div class="row">
	             		
	           <!-- Blog Post -->	          
			   <div class="card mb-4">
			  	           			            
			        <div class="card-body">
			              <h1 class="card-title text-center">Requisitos</h1>
			             
			              <p class="card-text"><h2>Constancia (POR DUPLICADO) de materias adeudadas de la escuela de origen con los datos que se detallan:</h2>
			              	<ul>
			              		<li>Debe decir para presentar en fines.</li>
			              		<li>debe figurar el CUE de la escuela de origen.</li>
			              		<li>Nombre/s y Apellido/s COMPLETOS.</li>
			              		<li>Tipo y número de documento.</li>
			              		<li>Especialidad que cursó y número de plan de estudios.</li>
			              		<li>Año en que termino de cursar.</li>
			              		<li>Asignaturas que adeuda: consignando la denominación que conste en el plan de estudios que cursó.</li>
			              		<li>Firma del Rector/a de la institución y refrendado por el Secretario/a.</li>
			              
			              	</ul>
			              		<h2>Además se deberá adjuntar la siguiente documentación.</h2>
			              	<ul>
			              		<li>Fotocopias de programas de estudio de las asignaturas que se adeuden firmados por el rector/a y sercretario/a.</li>
			              		<li>Constancia del CUIL.</li>
			              		<li>Fotocopia del DNI.</li>
			              		<li>Planilla de inscripción (Se compra en Librería Seclan's, Dirección: Lautaro 219).</li>
			              		
			              	</ul>
			              </p>
			              
			              <h2 class="bg-danger text-center">TODOS LOS ITEMS SON NECESARIOS PARA REALIZAR LA INSCRIPCION.</h2>
			              
					</div>
								          					
				</div>
			</div>
		</div> 
	</div> 
</html>